:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.layers-tree {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: var(--space-1) 0;
}
