.layer-item {
  display: flex;
  position: relative;
  align-items: center;
  gap: var(--space-2);
  height: var(--size-layers-node);
  padding: var(--space-2);
  user-select: none;

  &:hover:not(.active-option) {
    background: var(--color-hovered-option);
  }

  &__thumbnail {
    width: 16px;
    height: 16px;
    background: var(--color-bg-input);
    border: 1px solid var(--color-border);
    flex-shrink: 0;
  }

  &__name {
    flex: 1;
    font-size: var(--font-size-md);
    color: var(--color-indicators);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.layer-drag-indicator--before::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: var(--size-indicator);
    background: var(--color-indicators);
    pointer-events: none;
    z-index: 2;
  }

  &.layer-drag-indicator--after::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: var(--size-indicator);
    background: var(--color-text-primary);
    pointer-events: none;
    z-index: 2;
  }
}

.layer-item__icon {
  cursor: pointer;
}
