.layer-item {
  display: flex;
  position: relative;
  align-items: center;
  gap: var(--space-2);
  height: var(--size-layers-node);
  padding: var(--space-2);
  user-select: none;

  &:hover:not(.active-option) {
    background: var(--color-hovered-option);
  }

  &__name {
    flex: 1;
    font-size: var(--font-size-md);
    color: var(--color-indicators);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.layer-drag-indicator--before::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: var(--size-indicator);
    background: var(--color-indicators);
    pointer-events: none;
    z-index: 2;
  }

  &.layer-drag-indicator--after::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: var(--size-indicator);
    background: var(--color-text-primary);
    pointer-events: none;
    z-index: 2;
  }

  &__thumbnail {
    width: var(--size-thumbnail-width);
    height: var(--size-thumbnail-height);
    background: var(--color-checkerboard-first);
    overflow: hidden;
    background-image:
      linear-gradient(45deg, var(--color-checkerboard-second) 25%, transparent 25%),
      linear-gradient(-45deg, var(--color-checkerboard-second) 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, var(--color-checkerboard-second) 75%),
      linear-gradient(-45deg, transparent 75%, var(--color-checkerboard-second) 75%);
    background-size: 4px 4px;
    background-position: 0 0, 0 2px, 2px -2px, -2px 0px;
  }

  &__thumbnail-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    image-rendering: pixelated;
    display: block;
  }

  &__thumbnail-empty {
    width: 100%;
    height: 100%;
  }
}

.layer-item__icon {
  cursor: pointer;
}

span.name--editing {
  background: var(--color-bg-input);
  padding: 0 var(--space-1);
  margin: 0 calc(0px - var(--space-1));
  cursor: text;
  user-select: text;
  overflow: visible;
  text-overflow: clip;
  white-space: nowrap;
  pointer-events: auto;
}
