<div
  class="create-item-container"
  [appClickOutside]="isAddItemOptionsVisible()"
  [handler]="addItemOptionsAppearanceHandler"
  #addItem
>
  <app-icon
    name="plus"
    class="layers-footer__icon"
    [size]="MD_ICON_SIZE"
    (click)="toggleAddItemOptionsVisibility()"
  />
  <app-options-list
    [bindings]="addItemBindings"
    [visible]="isAddItemOptionsVisible()"
    (selected)="onLayerItemOptionSelected()"
    class="create-item__options"
  ></app-options-list>
</div>

<app-icon
  name="copy"
  class="layers-footer__icon"
  [class.disabled]="!hasActiveLayer()"
  [size]="MD_ICON_SIZE"
  (click)="actions.duplicate()"
/>

<div
  class="merge-container"
  [appClickOutside]="isMergeOptionsVisible()"
  [handler]="mergeOptionsAppearanceHandler"
  #merge
>
  <app-icon
    name="merge"
    class="layers-footer__icon"
    [class.disabled]="!hasActiveLayer()"
    [size]="MD_ICON_SIZE"
    (click)="toggleMergeOptionsVisibility()"
  />
  <app-options-list
    [bindings]="mergeBindings()"
    [visible]="isMergeOptionsVisible()"
    (selected)="onMergeOptionSelected()"
    class="merge__options"
  ></app-options-list>
</div>

<app-icon
  name="arrow2"
  class="layers-footer__icon arrow-up"
  [class.disabled]="!hasActiveLayer() || !canMoveUp()"
  [size]="MD_ICON_SIZE"
  (click)="actions.move('up')"
/>

<app-icon
  name="arrow2"
  class="layers-footer__icon arrow-down"
  [class.disabled]="!hasActiveLayer() || !canMoveDown()"
  [size]="MD_ICON_SIZE"
  (click)="actions.move('down')"
/>

<app-icon
  name="trash"
  class="layers-footer__icon"
  [class.disabled]="!hasActiveLayer()"
  [size]="MD_ICON_SIZE"
  (click)="actions.remove()"
/>
