:host {
  display: flex;
  gap: var(--gap-sm);
  padding: var(--space-1);
  border-top: var(--size-border) solid var(--color-border);
  justify-content: center;
  align-items: center;
}

.layers-footer__icon {
  cursor: pointer;
  &:hover {
    color: var(--color-hovered);
  }
  &:active {
    color: var(--color-accent);
  }
}

.arrow-up {
  transform: rotate(-90deg);
}

.arrow-down {
  transform: rotate(90deg);
}

.create-item-container, .merge-container {
  position: relative;
}

.create-item__options, .merge__options {
  position: absolute;
  top: calc(100% + var(--space-1));
  left: 0;
}
