<div
  class="create-item-container"
  #addLayerItem
  [appClickOutside]="isAddLayerItemOptionsVisible()"
  [handler]="addItemOptionsAppearanceHandler"
>
  <app-icon
    name="plus"
    class="layers-footer__icon"
    [size]="MD_ICON_SIZE"
    (click)="toggleLayerItemOptionsVisibility()"
  />
  <app-options-list
    [bindings]="addLayerItemBindings"
    [visible]="isAddLayerItemOptionsVisible()"
    (selected)="onLayerItemOptionSelected()"
    class="create-item__options"
  ></app-options-list>
</div>

<app-icon
  name="copy"
  class="layers-footer__icon"
  [class.disabled]="!hasActiveLayer()"
  [size]="MD_ICON_SIZE"
  (click)="actions.duplicate()"
/>

<app-icon
  name="merge"
  class="layers-footer__icon"
  [class.disabled]="!hasActiveLayer()"
  [size]="MD_ICON_SIZE"
  (click)="actions.merge()"
/>

<app-icon
  name="arrow2"
  class="layers-footer__icon arrow-up"
  [class.disabled]="!hasActiveLayer()"
  [size]="MD_ICON_SIZE"
  (click)="actions.move('up')"
/>

<app-icon
  name="arrow2"
  class="layers-footer__icon arrow-down"
  [class.disabled]="!hasActiveLayer()"
  [size]="MD_ICON_SIZE"
  (click)="actions.move('down')"
/>

<app-icon
  name="trash"
  class="layers-footer__icon"
  [class.disabled]="!hasActiveLayer()"
  [size]="MD_ICON_SIZE"
  (click)="actions.remove()"
/>
