:root {
  --color-bg-app: #242225;
  --color-bg-bar: #403C43;
  --color-bg-input: #242225;
  --color-bg-canvas: #fff;
  --color-bg-info: rgba(0, 0, 0, 0.44);

  --color-accent: #6A3DB8;

  --color-text-primary: #E2DDF0;
  --color-text-secondary: #A89BB5;
  --color-text-disabled: #8A8590;

  --color-border: #130722;

  --color-idle: #5C4F6A;
  --color-hovered: #A89BB5;
  --color-pressed: #453C50;

  --color-hovered-option: #5C4F6A;

  --color-shadow: #000;
  --color-shadow-accent: #8A38F5;

  --color-icons: var(--color-text-primary);
}
