:root {
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;

  --size-lg-icon: 32px;
  --size-md-icon: 24px;
  --size-sp-icon: 20px;
  --size-sm-icon: 12px;

  --gap-lg: 16px;
  --gap-md: 8px;
  --gap-sm: 4px;

  --size-border: 2px;
  --size-indicator: 2px;

  --size-panels-static: 48px;
  --size-layers-node: 28px;

  --size-thumbnail-width: 24px;
  --size-thumbnail-height: 24px;

  --size-input-number: 80px;
  --size-slider-height: 22px;
  --size-slider-value-width: 56px;
  --size-select-max-hight: 240px;

  --size-modal-min-width: 320px;
  --size-modal-max-width: 90vw;
  --size-modal-max-height: 90vh;

  --size-field-control-max-width: 150px;

  --size-actions-bar-max-width: 500px;
}
