:root {
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;

  --size-lg-icon: 32px;
  --size-md-icon: 24px;
  --size-sp-icon: 20px;
  --size-sm-icon: 12px;

  --gap-lg: 16px;
  --gap-md: 8px;
  --gap-sm: 4px;

  --size-border: 2px;

  --size-panels-static: 48px;
}
