:root {
  --font-headers: 'Silkscreen';
  --font-content: 'Inter', system-ui;
  --font-mono: 'Roboto Mono', 'Fira Code', monospace;

  --font-size-sm: 12px;
  --font-size-md: 14px;
  --font-size-lg: 20px;

  --font-weight-bold: 600;
}
