:host {
  display: flex;
  flex-direction: row;
  gap: var(--gap-lg);
  padding: var(--space-1) var(--space-2);
}

.option {
  display: flex;
  flex-direction: row;
  gap: var(--gap-sm);
  align-items: center;
}

.option__slider {
  width: 125px;
  height: 18px;
}
