@use 'styles/tokens/colors';
@use 'styles/tokens/sizes';
@use 'styles/tokens/typography';

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow: hidden;
}

svg {
  display: block;
}

body {
  font-family: var(--font-content), sans-serif;
  font-size: var(--font-size-md);
  color: var(--color-text-primary);
  background: var(--color-bg-app);
}

.separation-line {
  width: 2px;
  height: 32px;
  background-color: var(--color-border);
}

ul {
  list-style: none;
}

.active-option {
  background: var(--color-accent);
}
