:host {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  height: var(--size-panels-static);
  padding: 0 var(--space-3);
  gap: var(--gap-lg);
  right: var(--space-4);
  bottom: var(--space-4);
  border: var(--size-border) solid var(--color-border);
  background: var(--color-bg-bar);
  color: var(--color-text-primary);
  z-index: 50;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-md);
}

.zoom {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-md);
  font-size: var(--font-size-lg);
}
