@let p = panel();

@if (isResizable()) {
  @for (edge of ['n', 's', 'e', 'w', 'en', 'es', 'wn', 'ws']; track edge) {
    <div
      class="resize-handle"
      [class]="'resize-handle--' + edge"
      [appPanelResize]="edge"
      [minSize]="p.minSize"
      [maxSize]="p.maxSize"
      (resizeChange)="onSizeChange($event)"
    ></div>
  }
}

<span class="non-collapse-panel__title" (pointerdown)="onHideClick($event)">
  {{ p.title }}
</span>

<div class="non-collapse-panel-header">
  <app-icon
    name="grab"
    [size]="MD_ICON_SIZE"
    class="non-collapse-panel-header__drag"
    appPanelDrag
    [startPos]="p.position"
    (dragMove)="onPositionChange($event)"
  />
</div>

<div class="panel-content">
  <ng-content select="[panel-content]" />
</div>

<div class="panel-footer">
  <ng-content select="[panel-footer]" />
</div>
