$collapse-transition: transform 100ms ease;

.collection-item {
  position: relative;

  &:hover {
    background: var(--color-hovered-option);
  }

  &__header {
    display: flex;
    align-items: center;
    gap: var(--gap-md);
    height: var(--size-layers-node);
    padding: 0 var(--space-2);
    user-select: none;
  }

  &__name {
    font-size: var(--font-size-md);
    color: var(--color-text-primary);
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__collapse {
    transition: $collapse-transition;
    cursor: pointer;
  }

  &.layer-drag-indicator--before::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: var(--size-indicator);
    background: var(--color-indicators);
    pointer-events: none;
    z-index: 2;
  }

  &.layer-drag-indicator--after::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: var(--size-indicator);
    background: var(--color-indicators);
    pointer-events: none;
    z-index: 2;
  }

  &.layer-drag-indicator--into {
    background: var(--color-bg-active);
    outline: var(--size-indicator) solid var(--color-indicators);
    outline-offset: -1px;
  }
}

.collapsed {
  transform: rotate(180deg);
}

span.name--editing {
  background: var(--color-bg-input);
  padding: 0 var(--space-1);
  margin: 0 calc(0px - var(--space-1));
  cursor: text;
  user-select: text;
  overflow: visible;
  text-overflow: clip;
  white-space: nowrap;
  pointer-events: auto;
}
